# Pushing excel tables into SQL

This notebook is aimed to retrieve the scattered data from different sheets contained in a google spreadshee

In [1]:
import pandas as pd
import json
from pybliometrics.scopus import AbstractRetrieval, AuthorRetrieval, AffiliationRetrieval
import warnings
import datetime
import sqlalchemy

In [2]:
## Load configuration from json file 
# Run this code only if the excel file is in googlespreadsheets
con_file = open("config.json")
config = json.load(con_file)
con_file.close()

## Initializing SQL

In [3]:
schema = config["schema"]
host = config["host"]
user = config["user"]
password = config["password"]
port = config["port"]

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'
connection_string

'mysql+pymysql://root:centermethods2024$@127.0.0.1:3306/ai_sdgs'

## Importing and functions

In [6]:
#importing and opening excel file from a google spreadhsheets. Run this only if you are using google spreadsheets
url_id = config['url_id']
url_base = "https://docs.google.com/spreadsheets/d/"
url_e = "export/format=xlsx"
url_params = url_base+url_id+url_e

def table_import(url_params, tab_name):
    file = pd.ExcelFile(url_params)  
    with pd.ExcelFile(file) as xls:  
        df = pd.read_excel(xls, tab_name, header=0)
    #ignoring warnings
    warnings.filterwarnings("ignore", category=DeprecationWarning, message=".*utcnow.*")
    now = datetime.datetime.utcnow()
    return df

def table_import2(xls):
    with pd.ExcelFile(file) as xls:  
        df = pd.read_excel(xls, tab_name, header=0)
    return df

In [ ]:
# Pathto the Excel file if you are not using google spreadhseets
file_path = "database/excel_tables/master_table_copy.xlsx"  # Replace with your actual file path

# Load the Excel file
file = pd.ExcelFile(file_path)

The function below is to change the arragement and format of the different tables

In [7]:
def df_format(df):

    #removing useless columns for analysis
    columns_to_drop = ['AI (yes/no)', 'Sustainability (yes/no)']
    df = df.drop(columns=columns_to_drop)

    # renaming the columns
    columns_to_rename = {'Authors': 'authors',
                         'EID': 'eid',
                         'Title': 'title',
                         'Year': 'year_pub',
                         'SDG': 'sdg',
                         "Abstract": "abstract",
                         'Source title': 'journal',
                         'Cited by': 'cited_by',
                         'core topic': 'core_topic',
                         'DOI': 'doi',
                         'role of AI': 'role_of_AI',
                         'AI (yes/no)': 'is_AI?',
                         'sustainability definition': 'sustainability_definition',
                         'Sustainability (yes/no)': 'is_sustainability?',
                         'Method (1) vs. study object (2)': 'AI_scope',
                         'Means (1) vs. end (2)': 'means_vs_ends',
                         'AI as buzzword? (0/1)': 'AI_as_buzzword',
                         'Sus_lvl': 'sustainability_conceptualization',
                         'empirical/conceptual/review': 'article_type',
                         'spatial scale': 'spatial_scale',
                         'snapshot in time vs. longitudinal study': 'temporal_scope',
                         'temporal scale (past, present, future)': 'temporal_scale',
                         'qualitative/quantitative/mixed methods': 'methodology',
                         'location of the study (country)': 'country_study',
                         'dataset used': 'dataset_used',
                         'first_author_country': 'country_author',
                         'policy recommendations (1/0)': 'policy_recommendations'
                        }
    df = df.rename(columns= columns_to_rename)

    df["sustainability_conceptualization"] = df["sustainability_conceptualization"].str.lower()
    df["sustainability_conceptualization"] = df["sustainability_conceptualization"].str.lower()
    df["sustainability_conceptualization"] = df["sustainability_conceptualization"].str.strip()
    
    df["article_type"] = df["article_type"].str.lower()
    df["article_type"] = df["article_type"].str.lower()
    df["article_type"] = df["article_type"].str.strip()

    return df

## Inspection (Importing final table)

In [8]:
df_raw = table_import(url_params, "final_table") #only use if you are using gspreadsheets
#or
#df_raw = table_import2(file)
df_raw.info()

/Users/jorgegustavorodriguezaboytes/data-science/general/env/lib/python3.12/site-packages/openpyxl/packaging/core.py:99: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  now = datetime.datetime.utcnow()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 32 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Authors                                  792 non-null    object
 1   Title                                    792 non-null    object
 2   Year                                     792 non-null    int64
 3   Source title                             792 non-null    object
 4   Cited by                                 792 non-null    int64
 5   DOI                                      788 non-null    object
 6   Abstract                                 765 non-null    object
 7   EID                                      792 non-null    object
 8   SDG                                      792 non-null    int64
 9   AI (yes/no)                              792 non-null    int64
 10  Sustainability (yes/no)                  792 non-null    int64
 11  type of AI                               792 non-null    object
 12  algorithms                               792 non-null    object
 13  Method (1) vs. study object (2)          792 non-null    object
 14  AI as buzzword? (0/1)                    792 non-null    int64
 15  core topic                               792 non-null    object
 16  role of AI                               543 non-null    object
 17  Means (1) vs. end (2)                    792 non-null    object
 18  sustainability definition                379 non-null    object
 19  Sus_lvl                                  792 non-null    object
 20  empirical/conceptual/review              792 non-null    object
 21  spatial scale                            436 non-null    object
 22  snapshot in time vs. longitudinal study  475 non-null    object
 23  temporal scale (past, present, future)   485 non-null    object
 24  qualitative/quantitative/mixed methods   487 non-null    object
 25  location of the study (country)          351 non-null    object
 26  dataset used                             398 non-null    object
 27  first_author_country                     792 non-null    object
 28  policy recommendations (1/0)             792 non-null    int64
 29  reference                                380 non-null    object
 30  cluster_reference                        380 non-null    float64
 31  Cluster                                  380 non-null    object
dtypes: float64(1), int64(7), object(24)
memory usage: 198.1+ KB

In [9]:
#applying the function format
df = df_format(df_raw)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   authors                           792 non-null    object
 1   title                             792 non-null    object
 2   year_pub                          792 non-null    int64
 3   journal                           792 non-null    object
 4   cited_by                          792 non-null    int64
 5   doi                               788 non-null    object
 6   abstract                          765 non-null    object
 7   eid                               792 non-null    object
 8   sdg                               792 non-null    int64
 9   type of AI                        792 non-null    object
 10  algorithms                        792 non-null    object
 11  AI_scope                          792 non-null    object
 12  AI_as_buzzword                    792 non-null    int64
 13  core_topic                        792 non-null    object
 14  role_of_AI                        543 non-null    object
 15  means_vs_ends                     792 non-null    object
 16  sustainability_definition         379 non-null    object
 17  sustainability_conceptualization  792 non-null    object
 18  article_type                      792 non-null    object
 19  spatial_scale                     436 non-null    object
 20  temporal_scope                    475 non-null    object
 21  temporal_scale                    485 non-null    object
 22  methodology                       487 non-null    object
 23  country_study                     351 non-null    object
 24  dataset_used                      398 non-null    object
 25  country_author                    792 non-null    object
 26  policy_recommendations            792 non-null    int64
 27  reference                         380 non-null    object
 28  cluster_reference                 380 non-null    float64
 29  Cluster                           380 non-null    object
dtypes: float64(1), int64(5), object(24)
memory usage: 185.8+ KB

In [ ]:
#veryfing that the three types of article exist
df.loc[(df["article_type"]=="empirical"), "methodology"].unique()

In [ ]:
#checking how many empirical papers are
df.loc[(df["article_type"]=="empirical"),].count()

## <span style="background-color:green">Articles dataframe</span>

Now, the next step is to create a table or dataframe with the articles metadata

### Creating dataframe

In [10]:
metadata_df = df.loc[:,["eid", "title", "authors", "year_pub",
                        "sdg", "journal", "cited_by", "doi"]]


metadata_df['sdg'] = metadata_df['sdg'].astype('str')

metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   eid       792 non-null    object
 1   title     792 non-null    object
 2   authors   792 non-null    object
 3   year_pub  792 non-null    int64
 4   sdg       792 non-null    object
 5   journal   792 non-null    object
 6   cited_by  792 non-null    int64
 7   doi       788 non-null    object
dtypes: int64(2), object(6)
memory usage: 49.6+ KB

### Pushing it to SQL

In [ ]:
metadata_df.to_sql('articles',
                  if_exists='append',
                  con=connection_string,
                  index=False)

## <span style="background-color:purple">Empirical data dataframe</span>

Because the empirical articles were coded different and contain specific columns, a specific dataframe was created

In [ ]:
columns_to_boolean = ["AI_as_buzzword", "policy_recommendations"]
df[columns_to_boolean] = df[columns_to_boolean].astype('bool')

empirical_df = df.loc[:, ["eid", "abstract", "AI_scope", "AI_as_buzzword", "core_topic",
                          "means_vs_ends", "sustainability_definition", "spatial_scale",
                          "temporal_scope", "temporal_scale", "methodology", "country_study",
                           "dataset_used", "country_author", "policy_recommendations"]]

empirical_df.info()

In [ ]:
empirical_df.to_sql("empirical_data",
                  if_exists='append',
                  con=connection_string,
                  index=False)

## <span style="background-color:blue">Type of article and suslvl dataframe</span>

In [ ]:
type_article = df[["eid","article_type"]]
type_article.to_sql('type_of_article',
                  if_exists='append',
                  con=connection_string,
                  index=False)

In [ ]:
suslvl_article = df[["eid","sustainability_conceptualization"]]
suslvl_article.to_sql('sus_lvl',
                  if_exists='append',
                  con=connection_string,
                  index=False)

## <span style="background-color:red">Algorithms-articles dataframe</span>

### Function to separate values in the same cell

In [14]:
def separating(df, old_column, new_column):
    df[new_column] = df[old_column].str.split(';')
    df = df.explode(new_column)
    df = df.drop(columns=old_column).reset_index(drop=True)
    df[new_column] = df[new_column].str.strip()
    df[new_column] = df[new_column].str.lower()
    return df

### Creating dataframe

In [15]:
# aral means ar(ticle)al(gorithm)
aral_df = df.loc[:, ["eid", "algorithms"]]
aral_df = separating(aral_df, "algorithms", "algorithms_used")
aral_df = aral_df.sort_values(by="algorithms_used", ascending=True).reset_index(drop=True)
aral_df = aral_df.rename(columns= {"algorithms_used": "algorithms"})
aral_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   eid         1156 non-null   object
 1   algorithms  1156 non-null   object
dtypes: object(2)
memory usage: 18.2+ KB

### Pushing it to SQL

In [ ]:
aral_df.to_sql('articles_algorithms',
                if_exists='append',
                con=connection_string,
                index=False)

## <span style="background-color:brown">Algorithms, type of AI and tasks dataframes</span>

### Importing sheet from drive

In [55]:
names_df = table_import(url_params, "algorithms abbreviations")
names_df["Algorithm name"] = names_df["Algorithm name"].str.lower()
names_df["Abbreviations"] = names_df["Abbreviations"].str.lower()
names_df["Abbreviations"] = names_df["Abbreviations"].str.strip()
names_df

,Algorithm name,Abbreviations,Type of AI,Type of task
0,artificial algae algorithm,aaa,evolutionary algorithms,optimization
1,adaboost,adaboost,supervised machine learning,classification
2,adaboost with locally weighted learning,ablwl,supervised machine learning,classification
3,adam optimizer,adam optimizer,deep learning; optimization algorithms,optimization
4,adaptive network-based fuzzy inference system ...,anfis,fuzzy logic; intelligent decision support syst...,classification; inference
...,...,...,...,...
218,xgboost,xgboost,ensemble learning,classification; regression
219,xlnet neural network mode,xlnet,deep learning; nlp,language modeling; text generation
220,xy- fused querynetworks,xyf,deep learning,question answering; language understanding
221,you only look once algorithm,yolo,deep learning; computer vision,object detection
222,zfnet,zfnet,deep learning; computer vision,image classification

### algorithms_list table

In [56]:
## algorithms dataframe
algo_df = names_df.drop_duplicates(subset="Abbreviations")[["Abbreviations", "Algorithm name"]]

columns_to_rename = {"Abbreviations": "algorithms",
                     "Algorithm name": "algorithm_name"
                    }
algo_df = algo_df.rename(columns= columns_to_rename)

algo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   algorithms      223 non-null    object
 1   algorithm_name  223 non-null    object
dtypes: object(2)
memory usage: 3.6+ KB

In [ ]:
algo_df.to_sql('algorithms_list',
                if_exists='append',
                con=connection_string,
                index=False)

### ai_type_list_table

In [57]:
aitype = separating(names_df, "Type of AI", "ai_type")[["ai_type"]]
aitype = aitype.drop_duplicates(subset="ai_type")
aitype = aitype.reset_index(drop=True)
aitype

                                 ai_type
0                evolutionary algorithms
1            supervised machine learning
2                          deep learning
3                optimization algorithms
4                            fuzzy logic
5   intelligent decision support systems
6          unsupervised machine learning
7      multi-criteria decision making ai
8                    multi-agent systems
9                        computer vision
10               probabilistic reasoning
11                         generative ai
12                                   nlp
13                           symbolic ai
14                                   llm
15                reinforcement learning
16                               edge ai
17                        explainable ai
18                       active learning
19                 graph neural networks
20                         geospatial ai
21                             hybrid ai
22                        metaheuristics
23                               overall
24                     ensemble learning
25                    swarm intelligence
26                              robotics
27                    spatio-temporal ai
28                           unspecified
29                               various

In [58]:
aitype.to_sql('ai_type_list',
                if_exists='append',
                con=connection_string,
                index=False)

30

### task_type_list

In [ ]:
tasktype = separating(names_df, "Type of task", "task_type")[["task_type"]]
tasktype = tasktype.drop_duplicates(subset="task_type")
tasktype = tasktype.reset_index(drop=True)

tasktype.info()

In [ ]:
tasktype.to_sql('task_type_list',
                if_exists='append',
                con=connection_string,
                index=False)

### algorithms_aitype

In [59]:
algo_ai = separating(names_df, "Type of AI", "ai_type")[["Abbreviations","ai_type"]]
algo_ai = algo_ai.rename(columns= {"Abbreviations":"algorithms"})
algo_ai

         algorithms                      ai_type
0               aaa      evolutionary algorithms
1          adaboost  supervised machine learning
2             ablwl  supervised machine learning
3    adam optimizer                deep learning
4    adam optimizer      optimization algorithms
..              ...                          ...
254             xyf                deep learning
255            yolo                deep learning
256            yolo              computer vision
257           zfnet                deep learning
258           zfnet              computer vision

[259 rows x 2 columns]

In [60]:
algo_ai.to_sql('algorithms_aitype',
                if_exists='append',
                con=connection_string,
                index=False)

259

### algorithms_tasktype

In [ ]:
algo_task = separating(names_df, "Type of task", "task_type")[["Abbreviations","task_type"]]
algo_task = algo_task.rename(columns= {"Abbreviations":"algorithms"})
algo_task

In [ ]:
algo_task.to_sql('algorithms_tasktype',
                if_exists='append',
                con=connection_string,
                index=False)

## <span style="background-color:turquoise">Role of AI</span>

In [ ]:
role_ai = df[["eid","role_of_AI"]]
role_ai.to_sql('role_AI',
                  if_exists='append',
                  con=connection_string,
                  index=False)

## <span style="background-color:violet">Clusters revcon dataframe</span>

In [ ]:
#importing and opening file from google spreadsheets
groups_df = table_import(url_params, "words_clusters_revcon")
groups_df['cluster_number'] = groups_df['cluster_number'].astype('str')
groups_df.info()

In [ ]:
#merging with metadata df
merged_df = pd.merge(metadata_df, groups_df, on='eid', how='inner')
groups_3_df = merged_df[["eid", "words", "cluster_number", "cluster_name", "article_file"]]
groups_3_df.info()

In [ ]:
groups_3_df.to_sql('clusters_revcon',
                  if_exists='append',
                  con=connection_string,
                  index=False)

## <span style="background-color:violet">Clusters dataframe</span>

In [ ]:
#importing and opening file from google spreadsheets
groups_df = table_import(url_params, "words_clusters")
groups_df['cluster_number'] = groups_df['cluster_number'].astype('str')
groups_df.info()

In [ ]:
#merging with metadata df
merged_df = pd.merge(metadata_df, groups_df, on='eid', how='inner')
groups_2_df = merged_df[["eid", "words", "cluster_number", "cluster_name", "article_file"]]
groups_2_df.info()

In [ ]:
groups_2_df.to_sql('clusters',
                  if_exists='append',
                  con=connection_string,
                  index=False)

## <span style="background-color:gray">Authors dataframe</span>

In [ ]:
#creating the function
def articles_info(eids):
    arts = []
    for eid in eids:
        #applying pybliometrics
        arts.append(AbstractRetrieval(eid, view='FULL'))
    return arts

In [ ]:
#extracting all the eid's and scopus id's
eids = df["EID"].tolist()
#calling the function, make sure to have your API key running
articles = articles_info(eids)

In [ ]:
#creating dictionary
authors = {
            'article_eid': [],
            'author_id': [],
            'author_name': [],
            'affiliation_country': [],
            'position in article': []
            }
#iterating over each element in the articles list
for article in articles:
    #iterating over each element in authorgroup
    for i in range(len(article.authorgroup)):
        authors['article_eid'].append(article.eid)
        authors['author_id'].append(article.authorgroup[i].auid)
        first_name = article.authorgroup[i].given_name
        last_name = article.authorgroup[i].surname
        authors['author_name'].append(f'{first_name} {last_name}')
        authors['affiliation_country'].append(article.authorgroup[i].country)
        authors['position in article'].append(str(i+1))

authors_df = pd.DataFrame(authors)

In [ ]:
authors_df.loc[authors_df["position in article"]=="1",]